# Build results
bin/
obj/
publish/
*.exe
*.dll
*.pdb

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Logs
*.log

# Configuration
appsettings.json
appsettings.*.json

# Environment files
.env

# NuGet packages
*.nupkg
*.snupkg
packages/

FodyWeavers.xsd
appsettings.Local.json
appsettings.Development.json
appsettings.Production.json
appsettings.json
